* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

#profile-image {
    border-radius: 4px;
}

/* .thumbnail {        
    width: 300px;
    height: 500px;
    overflow: auto;
} */

/* #main-footer {
    flex-shrink: 0;
} */

h2 {
    font-weight: 700;
}

.navbar-brand {
    margin-top: 8px;
    margin-left: 55px;
    letter-spacing: 1.5px;
}

ul {
    margin-right: 45px;
    font-size: 18px;
}

.main-container {
    padding: 30px;
    margin: 0 40px 40px 40px;
  }

  #main-footer p {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  /* ===== PORTFOLIO ===== */

  .card {
    margin-bottom: 15px;
    margin-top: 15px;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  }

  h5 {
      text-align: center;
  }

  /* ===== CONTACT ===== */

  #contact-image {
      width: 99%;
      margin-top: 8px;
      border-radius: 4px;
  }
