* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

#logo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-left: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

#profile-image {
    width: 88%;
    border-radius: 4px;
}

h2 {
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-top: 8px;
    margin-left: 55px;
    letter-spacing: 1.5px;
}

ul {
    margin-right: 45px;
    font-size: 18px;
}

.main-container {
    padding: 30px;
    margin: 0 40px 40px 40px;
}

#main-footer p {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.1em;
}

/* ===== PORTFOLIO ===== */

.card {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

h5 {
    text-align: center;
}

/* ===== CONTACT ===== */

#contact-image {
    width: 99%;
    margin-top: 8px;
    border-radius: 4px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#logo-section {
      text-align: center;
}

#github-icon,
#linkedin-icon,
#email-icon,
#pdf-icon {
    /* float: left; */
    width: 50%;
    height: auto;
}

/* #github-icon:hover,
#linkedin-icon:hover,
#email-icon:hover,
#pdf-icon:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
} */

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 981px) and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .card {
        width: 100%;
    }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) { 
    .card {
        width: 100%;
    }
}
  
@media screen and (max-width: 640px) {
    .card {
        width: 100%;
    }
}