* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

#logo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-left: 16px;
}

#profile-image {
    width: 88%;
    border-radius: 4px;
}

h2 {
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-top: 8px;
    margin-left: 55px;
    letter-spacing: 1.5px;
}

ul {
    margin-right: 45px;
    font-size: 18px;
}

.main-container {
    padding: 30px;
    margin: 0 40px 40px 40px;
  }

  #main-footer p {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  /* ===== PORTFOLIO ===== */

  .card {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* .card-img-top {
      width: 100%;
      height: 250px;
  } */

  h5 {
      text-align: center;
  }

  /* ===== CONTACT ===== */

  #contact-image {
      width: 99%;
      margin-top: 8px;
      border-radius: 4px;
  }
